<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is a Home page</title>
        <link rel="stylesheet" href="master.css">
    </head>
    <body>
        <div id="content">
            <header>
                <div class="header_bg">
                    <h1>Welcome to Ruby based Home page</h1>
                    <h2>Just a real gem!</h2>
                    <p>Just fo the git</p>
                </div>

            </header>

            <%=
            link_to 'About', about_path
            %>

            <main>
                <h2>Content</h2>
                <section>
                    <h3>How I learned to love Ruby on the first sight</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>

                <section>
                    <h3>Why I chose Ruby?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>

                <section>
                    <h3>What programming language to choose?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
            </main>

            <footer>
                <p>Made by Niiske Vetsupaber© 2018</p>
            </footer>
        </div>

    </body>
</html>
